.custom-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.custom-radio input:checked ~ .checkmark {
    background-color: #f4b3d3; /* 选中时的颜色变化 */
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio input:checked ~ .checkmark::after {
    display: block;
}

.custom-radio .checkmark::after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}